 .debug-grid {
  background: transparent
    url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAFElEQVR4AWPAC97/9x0eCsAEPgwAVLshdpENIxcAAAAASUVORK5CYII=)
    repeat top left;
}

.fira-sans {
font-family: "Fira Sans", sans-serif;
} 

/* 
.link {
  color:black
  b
}

.link {
  text-decoration: none;
  transition: color .15s ease-in;
  color: black

}

.link:hover   {
  transition: color .15s ease-in;
  background-color:yellow
} */

.list {
  list-style: square outside;
}


/* Navbar

.menu {
  display: none;
} 

#burger:checked ~ .menu {
  display: inline-block;
} */
/* 
li a:hover,
li a:target {
  color: #4bc0a9;
} */
/*
li a:hover span {
  color: black;
} */ 