<header class="mx-auto px-6 flex flex-wrap items-center py-5 print:hidden">
  <div class="flex-1 flex items-center">
    <a
      class=" head uppercase link font-mono-casual"
      href="/"
    >
      Recipe Book 
    </a>
  </div>
  <label
      for="menu-toggle"
      class="
        cursor-pointer
        md:hidden
        flex
        items-center
        mx-5 py-2 px-5
        hover:border hover:border-rounded hover:border-ctp-mauve
      "
  >
    <svg class="fill-current " xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
      <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path>
    </svg>
  </label>
  <input class="hidden" type="checkbox" id="menu-toggle" />
  <div class="hidden md:flex md:items-center md:w-auto w-full" id="menu">
    <nav>
      <div class="md:flex items-center justify-between text-base py-2">
        {{ with .Site.Menus.main }}
          {{ range sort . }}
          <div class="lg:p-3 text-xl px-2 block border-b-2 border-transparent hover:border-ctp-mauve">
            <a href ="{{ .URL | absLangURL }}">{{ .Name }}</a>
          </div>
          {{ end }}
        {{ end }}
      </div>
    </nav>
  </div>
</header>
