<script type="application/ld+json">
{
  "@context": "https://schema.org/",
  "@type": "Recipe",
  "author": {
    "@type": "Person",
    "name": "{{ .Site.Params.author }}"
  },
  "name": "{{ .Title }}",
  "datePublished": "{{ .Params.date }}",
  "prepTime": "{{ .Params.Info.prepTime }}",
  "cookTime": "{{ .Params.Info.cookTime }}",
  "recipeYield": "{{ .Params.info.yield }}",
  "image": "{{ .Params.image }}",
  "recipeIngredient": [
    {{- range $i, $e := .Params.ingredients }}
    {{- if $i -}},{{- end }}
    "{{ $e }}"
    {{- end }}
  ],
  "recipeInstructions": [
   {{- range $i, $e := .Params.directions }}
    {{- if $i -}},{{- end }}  
   {
      "@type": "HowToStep",
      "text": "{{ $e }}"
    }
   {{- end }}
  ],
  {{ with .Params.tags -}}
  "keywords": "{{ delimit . ", "}}",
  {{ end -}}
  {{ with .Params.category -}}
  "recipeCategory": "{{ delimit . ", "}}",
  {{ end -}}
  {{ with .Params.cuisine -}}
  "recipeCuisine": "{{ delimit . ", "}}"
  {{ end -}}
}
</script>