<div class="cb" id="wrapper">
    <h1 class="ttu f2 fl fw9">{{ .Title }}</h1>
  {{ range .Pages.ByTitle }}
  <div class="w-100 h-100 flex flex-wrap flex-auto flex-row-l flex-column justify-center">
    <div class="w-20-l h-100-l order-1 pr2">
        <a class="link ttu fw6 f3-l f4" href="{{ .RelPermalink }} ">{{ .Title }} </a>
    </div>
    <div class="w-80-l h-100-l order-2 pr4">
        <ul class="list">
            {{ range .Pages.ByTitle }}
            <li> <a class="link" href = "{{ .RelPermalink }}">{{ .Page.Title }}</a></li>
            {{ end }}
          </ul>
      </section>
    </div>
  </div>
  <!-- <hr /> -->
  {{ end }}
</div>