<div class="" id="wrapper">
    <h1 class="">{{ .Title }}</h1>
  {{ range .Pages.ByTitle }}
  <hr class="" />
  <div class="">
    <div class="">
        <a class="link" href="{{ .RelPermalink }} ">{{ .Title }} </a>
    </div>
    <div class="">
        <ul class="list">
            {{ range .Pages.ByTitle }}
            <li> <a class="link" href = "{{ .RelPermalink }}">{{ .Page.Title }}</a></li>
            {{ end }}
          </ul>
      </section>
    </div>
  </div>
  <!-- <hr /> -->
  {{ end }}
</div>