/* site specific css */

#menu-toggle:checked + #menu {
  display: block;
}

h1 {
  @apply lg:text-6xl text-3xl font-black uppercase;
}

h2 {
  @apply text-2xl font-extrabold;
}

section {
  @apply block p-2;

}

.fira-sans {
  font-family: "Fira Sans", sans-serif;
} 

.list {
  list-style:square outside;
}

.link {
  @apply border-b-2 border-transparent hover:border-yellow-300;
}

.nav-link {
  @apply lg:p-3 px-0 block border-b-2 border-transparent hover:border-yellow-300;
}

.nav-menu-btn {
  @apply cursor-pointer lg:hidden flex items-center px-3 py-2 border rounded hover:text-white hover:border-yellow-300;
}



